<MudDialog>
    <MudDialogTitle>Logbook Mahasiswa</MudDialogTitle>
    <MudDialogContent>
		<div id="calendar"></div>
    </MudDialogContent>
    <MudDialogActions>
        <MudButton OnClick="CloseDialog" Color="Color.Primary">Tutup</MudButton>
    </MudDialogActions>
</MudDialog>
